.row
  .small-12.columns
    %p#notice= notice

    %p
      %b Title:
      = @collage.title
    %p
      = image_tag @collage.image
    %p
      %b Photos:
      = @collage.photos
    %p
      %b User:
      = @collage.user_id

    = link_to 'Edit', edit_collage_path(@collage)
    \|
    = link_to 'Back', collages_path
