.row
  .small-12.columns
    %p#notice= notice

    %p
      %h2
        = @collage.title
    %p
      = link_to "rerender", rerender_collage_path, class: 'button'
      = link_to "Загрузить на mail.ru", "#", class: 'button'
    %p
      = image_tag @collage.image

    = link_to 'Edit', edit_collage_path(@collage)
    \|
    = link_to 'Back', collages_path
