.row
  .small-12.columns
    %h1 Listing images
    = link_to "Import", import_images_path, class: 'button'
    %ul.small-block-grid-4
      - @images.each do |image|
        %li
          = image.title
          = link_to image do
            = image_tag image.image.thumb, class: 'th'
          = link_to 'Edit', edit_image_path(image)
          = link_to 'Destroy', image, class: 'tiny button alert',:method => :delete, :data => { :confirm => 'Are you sure?' }

    = link_to 'New Image', new_image_path
