%h1 Listing images
= link_to "Import", import_images_path, class: 'button'

%table
  %tr
    %th Title
    %th Image
    %th
    %th
    %th

  - @images.each do |image|
    %tr
      %td= image.title
      %td= image_tag image.image.thumb
      %td= link_to 'Show', image
      %td= link_to 'Edit', edit_image_path(image)
      %td= link_to 'Destroy', image, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Image', new_image_path
